.bs-docs-header{
  background-color: #DE5833;
  color: white;
  padding:20px;
  margin-bottom: 20px;
}

.main-content{
  margin-bottom: 200px;
}

h1 {
  margin-top:0;
}

.navbar {
  margin-bottom:0;
  border:0;
}

.center {
  text-align:center;
}

img {
  margin: 20px;
}

* {
  font-family: Open Sans, helvetica, arial;
}

p, li, div {
  font-size: 12pt;
  line-height: 20pt;
}
li {
  margin-bottom: 0.3em;
}
p, pre {
  margin-bottom: 1.1em;
}

h2 {
  border-bottom: 2px #DE5833 solid;
}
h2,h3,h4,h5,h6 {
  /*font-family: Cambria;*/
  font-weight: 600;
  margin-top: 1.1em;
  margin-bottom: 1.0em;
  padding-bottom: 0.1em;
}

ul.nav li {
  padding-bottom: 0;
  margin-bottom: 0;
}
