.page-title {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding: 16px;
  padding-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.section {
  padding-right: 20px;
  margin-top: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.section__content {
  border-top: 2px #DE5833 solid;
  margin: 0 20px;
}

.section__block {
  display: flex;
  align-items: center;
}

.section__title {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-weight: 600;
  margin-left: 90px;
  margin-bottom: 0;
  padding: 8px 0;
  text-transform: uppercase;
}

.block__text {
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
}

.block__icon {
  align-self: center;
  width: 25px;
  height: 20px;
  margin-bottom: 5px;
}

.icon-label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  min-width: 50px; /* 2 * icon width */
}
.main-content{
  margin-bottom: 200px;
}

.center {
  text-align:center;
}

.label {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}